span.online {
    color: green;
}
span.offline {
    color: red;
}

#operator_entertainment div {
    width: 50%;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.lef_right_container {
    border: 1px solid red;
    float: left;
}
.left, .right {
/*    border: 2px solid red;
    background: #ccc; */
    
    vertical-align: bottom;
    display: inline-block;
    /* ie6/7 */
    *display: inline;
    zoom: 1;
}
.right {
 /*   margin: 20px 20px 0 20px;
    padding: 20px;*/
 }